<a href="https://colab.research.google.com/github/Callme1berto/sql-justos/blob/main/sql_questions_justos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
-- 1 - Given table T_A with a varchar field “Customer_ID”, write a script that gives you the values of "Customer_ID" that are non-unique.
select
customer_id

from
T_A

group by --For this script I used "Group By" to group the "Customer_ID" field
customer_id

having
count(*) > 1; --Then I used "Having" to select the groups (Customer_ID in this case) where "Count" is greater than 1




-- 2 Given tables T_A and T_B, both with a varchar field “Customer_ID”, write a script that finds the elements in T_A that are not in T_B
select
Customer_ID

from
T_A
left join T_B on T_A.customer_ID = T_B.customer_ID --For this script I applied "Left Join" between tables T_A and T_B on the "Customer_ID" field, so it will include all rows from T_A and the matching rows from T_B and the matching rows from T_B, filling in "Null" values for non-matching rows in T_B.

WHERE
T_B.customer_ID is null --The "Customer_id" rows in T_A that are not in T_B are "Null". So "Where" here brings the rows where "Customer_ID" in the T_B is "Null".


--UNFINISHED
-- 3. Given table T_A that has fields “Customer_ID”, “Claim_type”, “Claim_value”, “Claim_timestamp” write a script that creates a new table, T_A_last10, where you store the sum-total of the last 10 paid claims (“Claim_value”>0) for each customer and claim type.--
create the T_A_last10 table
create T_A_last10 as
select
customer_id,
claim_type,
SUM(Claim_value) AS TotalClaimValue

from (
    select
        customer_ID,
        claim_type,
        claim_value,



--UNFINISHED
-- 4.Given table T_A that has fields “Customer_ID”, “Claim_type”, “Claim_value”, “Claim_timestamp” write a script that creates a new table, T_A_Claim_Value_With_Trend, that adds a new field representing the percentage increase/decrease in claim value compared to the preceding one for each customer and claim type.--
create table T_A_claim_value_with_trend AS
SELECT
    Customer_ID,
    Claim_type,
    Claim_value,
    Claim_timestamp,


    from
    T_A;

UNFINISHED
--5.Given table T_A that has fields “Customer_ID”, “Trip_Score”, “Trip_km”, “Trip_timestamp” write a script that creates a new table, “T_A_Trip_Score_Rolling_Average_Last80km”, that adds a new field named “Score_RAvg_Last80km” representing the distance-weighted average score for the last 80 km the user has driven up to (and including) the last trip, rounded to second decimal point.
-- Create the T_A_Trip_Score_Rolling_Average_Last80km table
create table T_A_Trip_Score_Rolling_Average_Last80km as
select
customer_ID,
trip_Score,
trip_km,
trip_timestamp,

SyntaxError: ignored